<h1>Add New Location</h1>

<%= render partial: '/errors', locals: { record: @location } %>

<%= form_for(@location) do |f|%>

<%=f.label :city%>
<%=f.text_field :city%>

 Countries: <%= f.country_select :country, ['United States of America'], { include_blank: true }, { class: 'chosen-select' } %>

<%=f.submit "Submit Location"%>

<%end%>