<h1>Reviews From <%= @location.country %>, <%= @location.city %> </h1>

<% @location.reviews.each do |review| %>
<ul>Title: <%=review.title%><br> 
Star Rating: <%=review.star_rating%> <br>
 <%= review.user.username.capitalize %>'s Review: <%=review.review%><br>
</ul>
<%end%>