<h1>Reviews From <%= @location.country %>, <%= @location.city %> </h1>

<% @location.reviews.each do |review| %>
<ul><table id="customers">
<tr>
<th>Title: </th> 
<th> Star Rating: </th> 
<th> Restaurant: </th>
<th> <%= review.user.username.capitalize %>'s Review:</th>

 </tr>
<td><%=review.title%></td><br>
<td><%=review.star_rating%> </td>
<td><%=review.restaurant.name%></td>
<td><%=review.review%></td>


</table></ul>
<%end%>