<h3>Add new Restuarant</h3>

<%= render partial: '/errors', locals: { record: @restaurant }%>


<%= form_for(@restaurant) do |f|%>
     <%= f.label :name %>
    <%= f.text_field :name %><br><br>
    <%= f.submit "Add Restaurant"%>
<%end%>