<h1><%= @restaurant.name %></h1>


<% @restaurant.reviews.each do |review| %>
<ul><table id="customers">
<tr>
<th>Title: </th> 
<th> Location: </th>
<th> Star Rating: </th> 
<th> <%= review.user.username.capitalize %>'s Review:</th>
 </tr>
<td><%=review.title%></td><br>
<td><%=review.location.country%>, <%=review.location.city%></td>
<td><%=review.star_rating%> </td>
<td><%=review.review%></td>
</table></ul>
<%end%>