
<div class="text2"><%= @review.user.username.capitalize %>'s <%= @review.location.city %> Review </div>

<ul><table id="customers">
<tr>
<th>Title: </th> 
<th> Star Rating: </th> 
<th> Restaurant: </th>
<th> Location: </th>
<th> <%= @review.user.username.capitalize %>'s Review:</th>
 </tr>
<td><%=@review.title%></td>
<td><%=@review.star_rating%> </td>
<td><%=@review.restaurant.name%> </td>
<td><%=@review.location.country%>, <%=@review.location.city%></td>
<td><%=@review.review%></td>
</table></ul>

<% if @review.user_id == session[:user_id] %>
				<button class="signupbtn"><%= link_to "Edit Review", edit_user_review_path, method: 'get'%></button>
				<button class="signupbtn"><%= link_to "Delete Review", user_review_path(@user), :method => 'delete'%></button>
		<% end %>	
