
<h1> <%= @review.user.username.capitalize %>'s Reviews </h1>

Title: <%= @review.title %> <br><br>
Star Rating: <%= @review.star_rating %> out of 5!<br><br>
Review:<%= @review.review %><br><br>

<%= @review.image %><br><br>

